Configure					Default
#ascii						1
#NormalEstimation
NormalEstimation_k 			10
#RegionGrow
RegionGrow_k				10
RegionGrow_r				0.05
RegionGrow_cluster_min_num	300
RegionGrow_cluster_max_num	10000000
RegionGrow_max_norm_angle	50.0
RegionGrow_max_curvatrue	30.0
RegionGrow_p2p_color_th		5.0
RegionGrow_r2r_color_th		9.0
#LabelUnify
Mannual_init_frame				8
Color_Space						Lab
RGB_r_bin_num					5
RGB_g_bin_num					5
RGB_b_bin_num					5
Lab_L_bin_num					1
Lab_a_bin_num					8
Lab_b_bin_num					8
Feature_height_w				1.0
Feature_length_width_w			1.0
Feature_color_hist_w			1.0
Feature_dim						2
#Registration
Align_Max_Iter				200
Align_Eps					1e-7
Align_Expand_k				30
Align_Expand_r				0.0001
Align_Down_Sample_Threshold	3000
Align_Down_Sample_Ratio		0.06
Align_Max_Dist				0.01
Align_Wait_ms				1
#Supervoxel
Sv_resolution				0.007
Sv_seed_resolution			0.03
Sv_spatial_weight			0.80
Sv_color_weight				0.10
Sv_normal_weight			0.90
#GraphCut
GC_iter_num					300
GC_data_weight				1.0
GC_smooth_weight			1.0
GC_global_data_weight		1.0
GC_global_smooth_weight		0.0001
GC_global_mode				Pixel_Wise
GC_gamma_soft				0.60
GC_gamma_hard				0.30
GC_distance_threshold		0.01
GC_color_var				1e7
GC_show_match				0
GC_show_data				0
GC_show_smooth				0
GC_show_smooth_sec 			0
#Looper
Loop_iter_num				2
#JRCS
JRCSInit_neighbor_radius	0.05
JRCSInit_angle_tight		35
JRCSInit_angle_relax		60
JRCSInit_new_normal			0
JRCSInit_point2plane		0.03
#JRCS_obj_w					0.2 0.19 0.11 0.119 0.129 0.139 0.149
JRCS_obj_w					0.16 0.16 0.16 0.16 0.16 0.16
#JRCS_obj_w					1.0
JRCS_verbose				1
JRCS_smooth					0
JRCS_smooth_w				10.0
JRCS_smooth_iter			2
JRCS_max_iter				1000
JRCS_max_init				80
JRCS_debug_path				./debug/obj/
JRCS_mu_type				ObjOnly
JRCS_rt_type				Gamma
SJRCS_use_res				1
SJRCS_res_step				3
SJRCS_rebuild_k				5
SJRCS_base_k				90
SJRCS_res_freq				80
#NCut and RobustCut
NCut_Clustering				Kmean
NCut_Clustering_min_k			10
NCut_Clustering_max_k			16
NCut_Type					GPS
NCut_eps					1e-18
NCut_k						80
NCut_GMM_tol				0.01
NCut_GMM_Max_n				10
NCut_Dist_Scale				9e-4
NCut_Color_Scale			5000.0
NCut_Feature_Scale			1.0
NCut_Convexity_Scale		0.01
#PEAC
Base_Seg_Num				50
PEAC_Max_Iter				10000
PEAC_tol					1e-8
PEAC_k						10
#randindex-0-rand-1-bestindex-2
PEAC_init_mode				2
#BOF
BOF_idf_mode				Normal
#Output
O_model_suffix				.ply