Configure					Default
#NormalEstimation
NormalEstimation_k 			10
#RegionGrow
RegionGrow_k				20
RegionGrow_cluster_min_num	30
RegionGrow_cluster_max_num	100000
RegionGrow_max_norm_angle	85.0
#Registration
Align_Max_Iter				100
Align_Eps					1e-6
#Supervoxel
Sv_resolution				0.01
Sv_seed_resolution			0.05
Sv_spatial_weight			0.40
Sv_color_weight				0.90
Sv_normal_weight			0.50
#GraphCut
GC_iter_num					200
GC_data_weight				1.0
GC_smooth_weight			0.8
GC_gamma_soft				0.01
GC_gamma_hard				0.00
GC_distance_threshold		0.05
GC_color_var				10.0
GC_show_match				0
GC_show_data				0
GC_show_smooth				0
GC_show_smooth_sec 			0