Configure					Default
#ascii1
#NormalEstimation
NormalEstimation_k 			10
#RegionGrow
RegionGrow_k				30
RegionGrow_r				0.02
RegionGrow_cluster_min_num	200
RegionGrow_cluster_max_num	10000000
RegionGrow_max_norm_angle	90.0
#LabelUnify
Mannual_init_frame				1
Color_Space						RGB
RGB_r_bin_num					5
RGB_g_bin_num					5
RGB_b_bin_num					5
Lab_L_bin_num					1
Lab_a_bin_num					8
Lab_b_bin_num					8
Feature_height_w				3.0
Feature_length_width_w			3.0
Feature_color_hist_w			0.01
Feature_dim						2
#Registration
Align_Max_Iter				200
Align_Eps					1e-7
Align_Expand_k				30
Align_Expand_r				0.0001
Align_Down_Sample_Threshold	3000
Align_Down_Sample_Ratio		0.06
Align_Max_Dist				0.01
Align_Wait_ms				1
#Supervoxel
Sv_resolution				0.008
Sv_seed_resolution			0.03
Sv_spatial_weight			0.80
Sv_color_weight				0.10
Sv_normal_weight			0.90
#GraphCut
GC_iter_num					300
GC_data_weight				1.0
GC_smooth_weight			0.2
GC_global_data_weight		1.0
GC_global_smooth_weight		0.0001
GC_global_mode				Pixel_Wise
GC_gamma_soft				0.60
GC_gamma_hard				0.30
GC_distance_threshold		0.01
GC_color_var				1e7
GC_show_match				0
GC_show_data				0
GC_show_smooth				0
GC_show_smooth_sec 			0
#Looper
Loop_iter_num				2
#JRCS
JRCS_obj_w					0.33 0.34 0.33
JRCS_verbose				1
JRCS_smooth					0			
#Output
O_model_suffix				.ply